 .contact-list{
     list-style: none;
 }
 .list{
     margin: 25px 0;
 }
 button , select{
    border-style: none;
    outline: none;
    border: 1px solid cadetblue;
    border-radius: 5px;
    height: 25px;
    background-color: white;
    color: cadetblue;
    font-size: 0.8em;
    width: 100px;
    margin-right: 2px;
 }
 input{
    margin-right: 10px;
    height: 30px;
    outline: none;
    border-style:none;
    text-align: center;
    border: 1px solid cadetblue;
    margin-top: 5px;
    width: 300px;
    border-radius: 5px;
    color: rgb(223, 82, 16);
    font-size: 1.2em;
 }
 #save , #form{
     margin:10px 35px;

 }
 .contact-form, .search, .add, h2{
     margin-left:35px;
 }
 h2{
     color: cadetblue;
 }
 #save{
     width: 80px;
     background-color: cadetblue;
     color: wheat;
 }
img{
    border-radius: 25px;
    border: 1px solid cadetblue;
}
hr{
    color: cadetblue;
}
#u-img{
    background-color: rgb(170, 236, 238);
}
